@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');


/* Base Styles */
body {
    font-family: "Noto Sans", serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #b4667e;
}

/* Header Styles */
header {
    background: #b4667e;
    color: #fff;
    padding: 10px 20px;
    text-align: center;
}

header nav a {
    color: #fff;
    margin: 0 10px;
    text-decoration: none;
}

header nav a:hover {
    text-decoration: underline;
}

/* Footer Styles */
footer {
    text-align: center;
    padding: 10px;
    background: #b4667e;
    color: #fff;
    margin-top: 20px;
}
.death:active {
    color: darkred;
}
.jumpscare{
    width: 1000000;
    height: 1000000;
    animation: popup 5s linear infinite;

}


@keyframes jumpscare{
0% {transform: scale(0.001)}
50% {transform: scale(1)}
100% {transform: scale(10000000000)}
}