/* Base Styles */
body {
    @font-face {
        font-family: Double_Bubble_Shadow.otf;
        src: url('Double_Bubble_Shadow.otf');
    }
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #b4667e;
}

/* Header Styles */
header {
    background: #b4667e;
    color: #fff;
    padding: 10px 20px;
    text-align: center;
}

header nav a {
    color: #fff;
    margin: 0 10px;
    text-decoration: none;
}

header nav a:hover {
    text-decoration: underline;
}

/* Footer Styles */
footer {
    text-align: center;
    padding: 10px;
    background: #b4667e;
    color: #fff;
    margin-top: 20px;
}
