@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');


/* Base Styles */
body {
    font-family: "Noto Sans", serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #b4667e;
}

/* Header Styles */
header {
    background: #b4667e;
    color: #fff;
    padding: 10px 20px;
    text-align: center;
}

header nav a {
    color: #fff;
    margin: 0 10px;
    text-decoration: none;
}

header nav a:hover {
    text-decoration: underline;
}

/* Footer Styles */
footer {
    text-align: center;
    padding: 10px;
    background: #b4667e;
    color: #fff;
    margin-top: 20px;
}
.death:active {
    color: darkred;
}
.jumpscare{
    animation: jumpscares 5s linear infinite;
    display: flex;                   /* Use flexbox to center */
    justify-content: center;          /* Horizontally center */
    align-items: center;              /* Vertically center */
    width: 100%;                      /* Full width */
    height: 100vh;                    /* Full height of the viewport */
    position: fixed;                  /* Stay in place */
    top: 0;                           /* Align at the top */
    left: 0;                          /* Align at the left */
    z-index: 999; 
}
.center {
    display: block;                   /* Make the image block-level */
    margin: 0 auto;                   /* Center horizontally */
    max-width: 100%;                   /* Ensure it's responsive */
    height: auto;             /* Maintain aspect ratio */
}



@keyframes jumpscares {
0% {transform: scale(0.1)}
50% {transform: scale(1)}
100% {transform: scale(5)}
}

